// VARIABLES

// fonts

$ff-primary: 'Roboto', sans-serif;

$fw-400: 400;
$fw-700: 700;
$fw-900: 900;

$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 2rem;
$fs-700: 3rem;

// colors

$clr-red-400: hsla(357, 100%, 68%, 1);
$clr-red-500: hsl(357, 74%, 40%);
$clr-blue-800: hsla(216, 71%, 16%, 1);
$clr-neutral-100: hsl(0 0% 100%);

$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-32: 2rem;
$size-36: 3rem;

%shadow {
    box-shadow: .25rem .25rem 1rem rgb(0 0 0 / .15);
}

@mixin interactive-scale($color, $bg, $scale: 1.05, $translateY: 0) {
    transform: scale(1) translateY($translateY);
    transition: transform 350ms ease;

    &:hover,
    &:focus {
        transform: scale($scale) translateY($translateY);
        color: $color;
        background-color: $bg;
    }
}

/* =========== 
RESET
============== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
    font-family: $ff-primary;
    font-size: $fs-400;
    color: $clr-blue-800;

    margin: $size-36 0;
}

/* =========== 
COMPOSITION
============== */

.container {
    width: min(58rem, 100% - 2rem);
    margin-inline: auto;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: var(--gap, 1rem);
}

/* =========== 
UTILITIES
============== */

.margin-block-xl { margin-block: $size-36; }

.fw-bold { font-weight: $fw-700; }
.fw-black { font-weight: $fw-900; }

.text-center { text-align: center; }
.text-accent { color: $clr-red-400; }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page-title {
  font-size: $fs-700;
  font-weight: $fw-900;
}

/* =========== 
BLOCK
============== */

.button {
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  padding: $size-16;
  background: $clr-red-400;
  color: $clr-neutral-100;
  border-radius: 100vw;
  @extend %shadow;
}

.card {
  $parent: &;
  border-radius: $size-32;
  overflow: hidden;
  background-color: $clr-neutral-100;
  @extend %shadow;

  &[data-type="product"] {
    display: grid;
     grid-template-columns: 1fr;

     & > * {
       grid-column: 1 / -1;
     }

     img {
       grid-row: 1 / span 2;
     }

    h2 {
      font-size: $fs-600;
      font-weight: $fw-900;
      text-transform: uppercase;
    }

    #{$parent} {
      &__content {
        padding: $size-32 $size-16 $size-16;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: $size-16;

       grid-row: 3;
      }
    }

    .button {
    grid-row: 2;
    justify-self: end;
    position: relative;
    inset: 0 $size-16 auto auto;
    @include interactive-scale($color: $clr-neutral-100, $bg: $clr-red-500, $translateY: 50%);
  // position: absolute;
  // inset: 0 $size-16 auto auto;  
  // transform: scale(1) translateY(-50%);  
  }
  
  }

  &[data-type="link-with-image"] {
    text-decoration: none;
    color: $clr-red-500;
    @include interactive-scale($color: $clr-neutral-100, $bg: $clr-blue-800);
    #{$parent} {
      &__content {
        padding: $size-16 $size-12;
      }
    }

    img {
      height: 8.75rem;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
  }
}